.idea / **
.gradle
. *. log *
.hidden/*
.vagrant / *
.hidden/*
.nextflow *
.node-nextflow *
** / build / **
build / **
modules / ** / build /
modules / ** / *. iml
modules / nextflow / work /
** / out / *
tmp / *
work / *
nextflow.eml
nextflow.iml
Vagrantfile
resources / *
test/*
tools / *
tests_other
other
docs / _build /
./*.txt
hidden/
errors /
misc /
cloud / my- *
docker-test
docker / dist
docker / nextflow
temp
gradle.properties
.dockerignore
.launch.classpath
plugins-prod
nextflow-version / work
